<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>POLO SALES</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/mdb.min.css" rel="stylesheet">
  <link href="css/index3.css" rel="stylesheet">
  <link href="css/style.min.css" rel="stylesheet">


</head>

<body >

      
    <div id="contenedor">
        <div id="izquierda">
          <iframe id="video2"     src="https://rural-ftp.com/ofertas/videos/ZzZtaO0U5LblxHPJ.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          <div  id="nombreCaballo" >
            <h1 id="nombre_caballo">Remate en Vivo</h1>
          </div>

          <div class="media_menu">
            <button class="three" onclick="mostrarVideo()">Remate</button>
            <button class="three" onclick="mostrarPedigree()">Agenda</button>
            <button class="three" onclick="mostrarOfertas()">Ofertas</button>
          </div>
          
<!--           
          <div id="tags">
            <div class="mb-3">
              <a href=""><span class="badge purple mr-1" style="color:white;">Category 2</span></a>
              <a href=""><span class="badge blue mr-1"style="color:white;">New</span> </a>
              <a href=""><span class="badge red mr-1"style="color:white;">Bestseller</span></a>
            </div>
          </div> -->

          <div id="descripcion">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It wa</p>
          </div>

          <div id="iconos">
            <div>
              <i class="fas fa-map-marker-alt"></i>
              <h3>Buenos Aires</h3>
            </div>
            <div>
              <i class="far fa-calendar-alt"></i>
              <h3>04 Marzo 2020</h3>
            </div>

            <div>
              <i class="fas fa-gavel"></i>
              <h3>Subasta online</h3>
            </div>


            
          </div>

          <div id="condiciones">
            <p class="lead"><span class="mr-1">Piso Subasta:</span><span>$10000</span></p>
          </div>

          
    

          <button id="ofertar"class= type="submit" onclick="agregarfila()">Ofertar</button>
         
          </div>
       
        
        
          
        
          <div id="derecha">
            
            <iframe id="video"     src="https://youtu.be/9jm16toaUyY?t=269" mute=true  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <div    id="pedigree">
              Esta es la descurpcion enter del caballo. pedrigre.. etc
            </div>
            
            <table   class="table table-bordered" id="tabla">
              <thead width=100%>
                <tr>
                  <th scope="col">Usuario</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Origen</th>
                  <th scope="col">Valor</th>
                </tr>
              </thead><tbody><tr>  <th scope="row">781</th>  <td>Mark</td>  <td>Buenos Aires, Arg</td>  <td>$13000</td></tr><tr>  <th scope="row">921</th>  <td>Jacob</td>  <td>Thornton</td>  <td>$12900</td></tr><tr>  <th scope="row">234</th>  <td>Larry</td>  <td>the Bird</td>  <td>@$12000</td></tr><tr>  <th scope="row">213</th>  <td>Larry</td>  <td>Buenos Aires, Arg</td>  <td>@twitter</td></tr><tr>  <th scope="row">412</th>  <td>Larry</td>  <td>Miami, US</td>  <td>@twitter</td></tr><tr>  <th scope="row">334</th>  <td>Larry</td>  <td>Cordoba, Arg</td>  <td>@twitter</td></tr></tbody>
            </table>
        </div>

        </div>


   
    </div>


  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/popper.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <script type="text/javascript">
    new WOW().init();

  </script>
  <script type="text/javascript" src="js/tree.js"></script>
  <script type="text/javascript" src="index3.js"></script>


</body>

</html>
