@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');

/*//////////////TITULOS//////////////*/


.tituloSeccion > h1 {
  font-size:2rem ;
  font-family: 'Barlow Condensed', sans-serif;
  display:inline-block;
  font-size: 4.8rem;
  line-height: 1.375;
  color: rgba(252, 252, 252, 0.918);
  text-shadow: -1px -1px-1px #777474;
  margin-bottom:0px !important;
}




@media (max-width:776px){
.contenedor{
  display:flex;
  align-items: center;
  align-content: center;
  justify-content: center; 
  justify-items:center;
  flex-wrap: wrap;
  margin:0;
  padding:0;
  width:100%;
}
.tituloSeccion {
  padding:  2rem;
  text-align:center;
}
.tituloSeccion >h1 {
 text-align:center;
 padding:  2rem;
  font-size:3rem !important;
}
.titulo{
  font-size:1.5rem;
}

}

@media (min-width:777px){
  .contenedor{
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center; 
    justify-items:center;
    flex-wrap: wrap;
    margin:0;
    padding:0;
    width:100%;
  
  }
  .tituloSeccion {
    text-align: center;
    position: relative;
    padding: 4rem;
 
  }
  }





/*///////////////////////DIV CABALLO///////////////////////*/

.promocion{
  width:20%;
  display:flex;
  flex-direction: column;

  margin:0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
  border-radius: 2rem;
  margin:1.5rem;

}

#textoCategoria{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-items:space-between;
  margin:0;
  background-color: #e5e5e5;
  border-bottom-right-radius: 1rem; 
}

.titulo{
  font-family: 'Barlow Condensed', sans-serif;
  color:rgb(22, 22, 22);
  text-align:center;
  line-height:0;
  margin:0 !important;
  padding:0 !important;
}


.ubicacion{
  font-family: "montserrat-thin", serif;
  font-size: 1.5rem;
  padding:0;
  color:rgb(22, 22, 22);
  text-align:center;
  border-radius: 2rem;
}

@media (max-width:760px){
  .promocion{
    width:90%;
  }
}



#textoCategoria > button{
    padding:0;margin:0;
    line-height: 4rem;
    height:100%;
    width:100%;  
    color:white;
    border-radius:4px;
    background-color:#77a852;
}
#textoCategoria > button >a{

  color:white;

}
.condiciones{
  font-family: "montserrat-thin", serif;
  color:black;
  font-size:1rem;
}

#go_home{
  position:fixed;
  top:4rem;
  left:4rem;
  z-index:100;
  
}

.fa
{color:white;
}