
/*//////////////TITULOS//////////////*/
.tituloSeccion {
  text-align: center;
  position: relative;
  padding: 4rem;
}
.azul{
  background-color:#000000;
}

.tituloSeccion > h1 {
  font-family: "librebaskerville-bold", serif;
  display:inline-block;
  font-size: 4.8rem;
  line-height: 1.375;
  color: rgba(252, 252, 252, 0.918);
  text-shadow: -1px -1px-1px #777474;
  margin-bottom:0px !important;
}



/*///////////////////////PRODUCTOS DESTACADOS////////////////////////*/
#productosDestacados{
  background-color:#e5e5e5;
}

.fluido{
  display:flex;
  width:100%;
  padding:0 5%;
}


.contenedor{
  display:flex;
  align-items: center;
  align-content: center;
  justify-content: center; 
  justify-items:center;
  flex-wrap: wrap;
  margin:0;
  padding:0;
  width:100%;

}



#producto{
  z-index:-20;

}


#svg2{
  background-image: url("../images/fondoCirculos.jpg");
  background-size:20%;
  background-repeat: repeat;
  vertical-align:top;
}

/*///////////////////////NSOTOROS///////////////////////*/
.negro{
  color:rgb(46, 46, 46);
}

.fondonaranja{
  background-color:#e26d12;
}


.subtituloDeCategoria{
  color:white
}
/*///////////////////////NUESTROS PRODUCTPS///////////////////////*/

.promocion{
  width:20%;
  display:flex;
  flex-direction: column;
  margin:0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
  border-radius: 2rem;
  margin:1.5rem;

}




#textoCategoria{
  margin:0;
  background-color: #e5e5e5;
  border-bottom-right-radius: 1rem; 
}

.titulo{
  font-family: "librebaskerville-bold", serif;
  color:rgb(22, 22, 22);

  text-align:center;
  line-height:1;
}



.logo_en_letras{
  font-family: "librebaskerville-regular", serif !important;

}

.subtituloDeCategoria{
  font-family: "librebaskerville-regular", serif;
  font-size: 1.5rem;
  color:rgb(22, 22, 22);
  text-align:center;
  border-radius: 2rem;
}

@media (max-width:760px){
  .promocion{
    width:90%;
  }
}




#homeicon{
  display: block;
  position: fixed;
  left: 32px;
  top: 30px;
  height: 42px;
  width: 140px;
  line-height: 42px;
  font-family: "montserrat-regular", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: rgba(255, 255, 255, 0.5);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#logo3{
height:42px;
padding:0.5rem;
width:100% !important;
}
